In [1]:
import os
import pyrugga as pgr
import pandas as pd

## Parameters

Provide the location of the SuperScout files you wish to convert and the name of the CSV file you want to output

In [2]:
# the path to a folder of Superscout XML files
FOLDER = '../../datalake/Rugby/6nations/'

# The name of the output file
OUTPUT = 'Six-Nation-Games.csv'

# Functions

A collection of functions we are going to need down the line. **You can skip this section and jump to the main section**

In [9]:
# define our zones to count events in
def Zones( x ): 
    x = 10 * round( x / 10) 
    if x > 95:
        x = 95
    if x < 5:
        x = 5
    return x

# scans a folder and returns a list of all the XML files we want to convert
def scan_files(path):
    files = [f for f in os.listdir(path) if os.path.isfile(os.path.join(path, f))]
    xml_files = []
    for f in files:
        if '.xml' in f.lower() :
            xml_files.append(f)

    return xml_files

# opens each XML file and converts it to a Match object in PyRugga
def get_matches(FILES_LOC):
    matches = []
    for fn in scan_files(FILES_LOC):
        #print(FILES_LOC + fn)
        matches.append(pgr.Match(FILES_LOC + fn,zones=Zones))


    #Check stats
    dates = []
    for match in matches:
        dates.append(match.summary['fixture_date'][0])

    print("Number of Matches : %s" % str(len(matches)))
    print("First game : " + str(pd.to_datetime(pd.DataFrame(dates,columns=['dte'])['dte']).min()))
    print("Last game : " + str(pd.to_datetime(pd.DataFrame(dates,columns=['dte'])['dte']).max()))
    
    return matches

# list of the datapoints we want to include in our CSV
features = ['period',
 'set_num',
 'team_name',
 'points',
 'x_coord',
 'x_coord_end',
 'y_coord',
 'y_coord_end',
 'meters_gained',
 'dist_traveled',
 'start',
 'length',
 'start_event',
 'end_event',
 'phases',
 'carry',
 'collection',
 'other_carry',
 'kick_return',
 'one_out_drive',
 'defender_beaten',
 'defensive_catch',
 'defensive_loose_ball',
 'attacking_loose_ball',
 'support_carry',
 'pick_and_go',
 'stepped',
 'dropped_ball_unforced',
 'initial_break',
 'restart_catch',
 'restart_return',
 'supported_break',
 'kick',
 'goal_kick',
 'box',
 'territorial',
 'bomb',
 'touch_kick',
 'lineout',
 'lineout_take',
 'throw_middle',
 'lineout_win_middle',
 'lineout_win_front',
 'lineout_throw',
 'maul',
 'ruck',
 'pass',
 'complete_pass',
 'offload',
 'scrum_half_pass',
 'break_pass',
 'incomplete_pass',
 'penalty_conceded',
 'penalty_won',
 'scrum',
 'defensive_scrum',
 'offensive_scrum',
 'no_8_pick_up',
 'no_8_pass',
 'tackle',
 'missed_tackle',
 'line_tackle',
 'chase_tackle',
 'other_tackle',
 'cover_tackle',
 'guard_tackle',
 'bumped_off',
 'jackal',
 'turnover_won',
 'try',
 'conversion',
 'advantage',
 'low',
 'tap_back',
 'edge_tackle',
 'positional',
 'throw_front',
 'attacking_catch',
 'carried_in_touch',
 'penalty_kick',
 'scrum_half_kick',
 'start_set_lineout_steal',
 'tap_pen',
 'lost_ball_forced',
 'lost_in_ruck_or_maul',
 'restart_22m',
 'cross_pitch',
 'in_goal_touchdown',
 'lineout_steal_front',
 'penalty_goal',
 'try_pass',
 'chip',
 'free_kick',
 'interception',
 'lineout_win_15m_plus',
 'lineout_win_quick',
 'not_releasing',
 'obstruction',
 'start_period',
 'throw_15m_plus',
 'throw_back',
 'throw_quick',
 'accidental_offside',
 'bad_pass',
 'charge_down',
 'failure_to_find_touch',
 'forward_pass',
 'foul_play_high_tackle',
 'foul_play_other',
 'foul_play',
 'hands_in_ruck',
 'intercepted_pass',
 'kick_error',
 'lineout_steal_middle',
 'lineout_win_back',
 'mark',
 'not_rolling_away',
 'offside_at_kick',
 'outpaced',
 'scrum_offence',
 'video_ref_awarded',
 'won_penalty_try',
 'yellow_card',
 'red_card',
 'clean_break',
 'collected_bounce',
 'end_set_kick_error',
 'error',
 'error_out_of_play',
 'error_terratorial_loss',
 'forced_in_touch',
 'goal_success',
 'goal_missed',
 'in_goal',
 'ineffective',
 'kick_in_touch_bounce',
 'lost_overthrown',
 'off_load',
 'pen_conceded',
 'penalty_try',
 'pressure_error',
 'pressure_in_touch',
 'reset',
 'sack',
 'tackled_dominant',
 'tackled_ineffective',
 'tackled_neutral',
 'to_ground',
 'loose_head_offensive',
 'hooker_offensive',
 'tight_head_offensive',
 'lock_4_offensive',
 'lock_5_offensive',
 'flanker_6_offensive',
 'flanker_7_offensive',
 'number_8_offensive',
 'scrum_half_offensive',
 'fly_half_offensive',
 'left_wing_offensive',
 'inside_centre_offensive',
 'outside_centre_offensive',
 'right_wing_offensive',
 'full_back_offensive',
 'loose_head_defensive',
 'hooker_defensive',
 'tight_head_defensive',
 'lock_4_defensive',
 'lock_5_defensive',
 'flanker_6_defensive',
 'flanker_7_defensive',
 'number_8_defensive',
 'scrum_half_defensive',
 'fly_half_defensive',
 'left_wing_defensive',
 'inside_centre_defensive',
 'outside_centre_defensive',
 'right_wing_defensive',
 'full_back_defensive']

# Main Script

In [12]:
# creates an empty dataframe
df = pd.DataFrame()

# Convert to Match Object
matches = get_matches(FOLDER)
    
for match in matches:
    match.timeline['x_coord'] = (match.timeline['x_coord']*1.0).apply(match._Zones)
    match.timeline['y_coord'] = (match.timeline['y_coord']*1.0).apply(match._Zones)

    match.timeline['x_coord_end'] = (match.timeline['x_coord_end']*1.0).apply(match._Zones)
    match.timeline['y_coord_end'] = (match.timeline['y_coord_end']*1.0).apply(match._Zones)

    match.timeline['fixture_code'] = match.summary.fixture_code[0]

    df = pd.concat([df, match.timeline[features]], sort=False)

# Prints the first 10 rows
df.head(10)

Number of Matches : 95
First game : 2014-02-21 00:00:00
Last game : 2020-09-02 00:00:00

,period,set_num,team_name,points,x_coord,x_coord_end,y_coord,y_coord_end,meters_gained,dist_traveled,...,flanker_6_defensive,flanker_7_defensive,number_8_defensive,scrum_half_defensive,fly_half_defensive,left_wing_defensive,inside_centre_defensive,outside_centre_defensive,right_wing_defensive,full_back_defensive
0,1,1,Wales,3,60,60,10,60,-2,47.042534,...,0,1,0,0,0,1,1,0,0,0
1,1,2,Wales,0,10,50,60,60,40,40.012498,...,0,1,0,0,0,1,0,0,0,0
2,1,3,England,0,50,70,10,40,28,36.878178,...,0,1,0,0,0,0,0,0,0,0
3,1,4,Wales,0,30,40,30,5,19,35.510562,...,0,1,0,1,0,1,0,0,1,0
4,1,5,England,0,60,60,70,30,-4,39.204592,...,0,1,1,0,1,0,1,0,0,0
5,1,6,Wales,0,40,90,40,20,44,46.818800,...,1,0,0,0,0,0,0,0,0,0
6,1,7,England,0,10,40,50,60,33,35.468296,...,0,0,0,0,0,0,0,0,0,0
7,1,8,Wales,0,50,90,5,50,42,64.536811,...,0,0,0,0,0,0,0,0,0,0
8,1,9,England,0,10,10,20,20,4,4.123106,...,0,0,0,0,0,0,0,0,1,0
9,1,10,Wales,7,90,95,40,50,14,15.652476,...,1,0,0,0,1,1,0,0,0,0

In [13]:
# output to CSV
df.to_csv(OUTPUT,index=False)

# Notes

You could write directly to a data base using to_sql command as follows

```python
from sqlalchemy import create_engine

#Postgres
engine_remote = create_engine('postgresql://<username>:<password>@<host>:<port>/<dbname>')
df.to_sql('timelines',engine_remote,index=False,if_exists='replace',schema='six_nations')

```

Should you want to use other database you will need to change the connection string. Have a read of https://docs.sqlalchemy.org/en/13/core/engines.html 

```python
# MySQL
engine_remote = create_engine('mysql://<username>:<password>@<host>/<dbname>')

# SQL Server
engine = create_engine('mssql+pymssql://<username>:<password>@<host>:<port>/<dbname>')

```